footer: 
basket contents:
<div class="span10"  ng-hide="checkoutDisabled" >
    <!--Body content-->

    <ul class="items">
      <li ng-repeat="basketItem in basketItems | filter:query | orderBy:orderProp"
          class="thumbnail item-listing">
        <a class="thumb"><img ng-src="{{basketItem.getThumbUrl() | https}}"></a>
        <a >{{basketItem.name}}</a> 
        <p>Quantity: {{basketItem.quantity}} &nbsp;<a ng-src="img/remove.jpeg" ng-click="removeFromBasket(basketItem)">delete</a></p>
        <p>{{basketItem.summary}}</p>

      </li>
    </ul>

  </div>
<div class="span10" ng-show="checkoutDisabled" >
  	it's empty!! add some items ..
  </div>